body {
    background-color: gray;
    margin: 0;
}

a {
    text-decoration: none;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
   
}

.header-link{
    font-size: medium;
    font-weight: bold;
}


.input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 400px;
    height: 200px;
}

.results {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.results-control {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.events {
    list-style-type: none;
}

.event {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid darkgray;
    font-weight: bold;
}