body {
    margin: 0;
    background-color: gray;
}

a {
    text-decoration: none;
}


.header {
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
   
}

.header-link{
    font-size: medium;
    font-weight: bold;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    margin-top: 1em;
}

.status {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
}


.input {
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    font-size: larger;
}

.input-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field-wrapper {
    margin: 0.1em;
    padding: 0.1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}

.input-field {
    width: 10em;
    border-radius: 5px;
    padding: 4px;
    border-width: 1px;
    text-align:center;
}
.input-field-label {
    width: 5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 7em;
    margin: 0.2em;
    font-weight: bold;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-control {
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    font-size: larger;
}

.result-control-wrapper {
    display: flex;
    flex-direction: row;
}

.result-control-label {
    width: 10em;
    font-weight: bold;
}

.result-control-data {
    width: 15em;
    padding-left: 1em;
    text-align: left;
}

.results-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.results-results  {
    width: 40%;
}

.results-summary {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    border: 1px solid darkgray;}

.results-raw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    padding: 5px 5px 5px 10px;
    border: 1px solid darkgray;
}